@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5 pt-5">
    <section>
        <h1 class="text-center display-4 font-weight-bold">Despedida de Solter@s</h1>
        <h3 class="text-center">Bienvenido. Acá podes gestionar los servicios y eventos solicitados.</h3>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card border-dark">
                    <div class="card-header text-center">
                        <h3>Servicios</h3>
                        <h5>Administra los servicios disponibles para las despedid@s de soltero</h5>
                    </div>
                    <div class="card-body text-center">
                        <a class="btn btn-primary btn-block" asp-area="" asp-controller="Servicios" asp-action="Index">Ver Servicios</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-dark">
                    <div class="card-header text-center">
                        <h3>Eventos</h3>
                        <h5>Administra los eventos contratados para las despedidas de solter@s</h5>
                    </div>
                    <div class="card-body text-center">
                        <a class="btn btn-primary btn-block" asp-area="" asp-controller="Eventos" asp-action="Index">Ver Eventos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
