@model GestorEventos.Servicios.Entidades.EventoModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Evento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Crear un nuevo evento</h2>

            <div class="form-group">
                <input asp-for="IdEvento" class="form-control" type = "hidden" value="0"/>
                <span asp-validation-for="IdEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IdPersonaAgasajada" class="form-control" type="hidden" value="0" />
                <span asp-validation-for="IdPersonaAgasajada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="IdUsuario" class="form-control" type="hidden" value="0" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEvento" class="control-label"></label>
                <input asp-for="NombreEvento" class="form-control" />
                <span asp-validation-for="NombreEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEvento" class="control-label"></label>
                <input asp-for="FechaEvento" class="form-control" />
                <span asp-validation-for="FechaEvento" class="text-danger"></span>
                <!-- <label for="FechaEvento">Fecha del Evento:</label>
                <input type="date" id="FechaEvento" name="FechaEvento"  required><br> -->
            </div>
            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="IdTipoEvento" class="control-label"></label>
                <select asp-for="IdTipoEvento">
                    <option value="1">Despedida de solteros</option>
                    <option value="2">Despedida de solteras</option>
                </select>
                <span asp-validation-for="IdTipoEvento" class="text-danger"></span>
            </div><br />
            <h3>Datos de la persona agasajada</h3>
            <div class="form-group">
                <input asp-for="IdPersona" class="form-control" type="hidden" value="0" />
                <span asp-validation-for="IdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionCalle" class="control-label"></label>
                <input asp-for="DireccionCalle" class="form-control" />
                <span asp-validation-for="DireccionCalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionNumero" class="control-label"></label>
                <input asp-for="DireccionNumero" class="form-control" />
                <span asp-validation-for="DireccionNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionPiso" class="control-label"></label>
                <input asp-for="DireccionPiso" class="form-control" />
                <span asp-validation-for="DireccionPiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionDepartamento" class="control-label"></label>
                <input asp-for="DireccionDepartamento" class="form-control" />
                <span asp-validation-for="DireccionDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionCodPostal" class="control-label"></label>
                <input asp-for="DireccionCodPostal" class="form-control" />
                <span asp-validation-for="DireccionCodPostal" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="hidden" asp-for="Borrado" value="0" />
                    <input asp-for="IdEstadoEvento" class="form-control" type="hidden" value="1" />
                </label>
            </div><br />
            <h2>Servicios a contratar</h2>
            <table>

                <thead>
                <th></th>
                <th>Servicios</th>
                <th>Precio ($ARG)</th>
                </thead>
                <tbody>

                    @foreach (var servicios in Model.ListaDeServiciosDisponibles)
                    {

                        <tr>
                            <td>

                                <input type="checkbox" name="ServiciosVM" value="@servicios.IdServicio" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => servicios.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => servicios.PrecioServicio)
                            </td>
                        </tr>

                    }
                </tbody>
            </table><br />


            <div id="create_event">
                <input type="submit" value="Crear" class="" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
